.projects-section {
  background-color: #0093e9;
  background-image: linear-gradient(
    200deg,
    #8043bc 0%,
    #4343bc 90%,
    #437fbc 100%
  );

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.card {
  margin: 10px;
  background-color: #fbeaeb;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  color: #2f3c7e;
  font-weight: bold;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  min-height: 50px;
}

.tag {
  background: #040404;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.card-body p {
  font-size: 1rem;
  margin: 0 0 20px;
  color: #2f3c7e;
}

.project-live-btn,
.project-github-btn {
  padding: 2px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #ffefef;
  overflow: hidden;
  color: #fff;
  font-size: bold;
}

.live-github {
  display: flex;
  justify-content: space-around;
}

.card-body a {
  text-decoration: none;
}

@media (max-width: 952px) {
  .projects-section {
    height: max-content;
  }
}
