.projects-section {
  background-color: #0093e9;
  background-image: linear-gradient(180deg, #55b7ab 0%, #0093e9 100%);

  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.card {
  margin: 10px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  color: #fff;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  min-height: 50px;
}

.tag {
  background: #040404;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 20px;
}

.project-live-btn,
.project-github-btn {
  padding: 2px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #ffefef;
  overflow: hidden;
  color: #fff;
}

.live-github {
  display: flex;
  justify-content: space-around;
}

.card-body a {
  text-decoration: none;
}
